html {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

body {
  background-color: white;
  background-image: url("assets/flags-game.png");
  background-size: auto auto;
  background-repeat: no-repeat;
  background-position: left top;
  min-height: 100%;
  color: #814499;
}

table,
td,
th {
  border: 1px solid;
}

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.flagsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flagContainer {
  width: 20%;
  margin-bottom: 40px;
  border: 1px solid #ada3b1;
  border-radius: 5px;
  padding: 1%;
  background-color: #ffe6e3;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: min-content;
  box-shadow: 0 4px 8px 0 #a6524a;
}

.quizFlagContainer {
  width: 80%;
  max-width: 300px;
  border: 1px solid #ada3b1;
  border-radius: 5px;
  padding: 1%;
  background-color: #ffe6e3;
  max-height: min-content;
  box-shadow: 0 4px 8px 0 #a6524a;
}

.quizContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flag-img {
  width: 100%;
}

.flagLabel {
  margin-top: 25px;
  font-size: x-large;
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
  opacity: 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.menuButton {
  padding: 20px;
  font-size: x-large;
  background-color: #ffe6e3;
  border-radius: 15px;
  color: #814499;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

button.buttonNext {
  padding: 20px;
  margin: 10px;
  font-size: xx-large;
  background-color: #ffe6e3;
  border-radius: 15px;
  color: #814499;
}

.rokki,
.zuma {
  position: absolute;
  bottom: 0px;
  width: 150px;
  height: 150px;
  /* border: 1px solid #814499; */
  border-radius: 25%;

  background-size: auto auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-color: rgb(255, 230, 227); */
}

.rokki {
  left: 0px;
  background-image: url("assets/rokki.png"),
    radial-gradient(rgba(255, 230, 227, 1), rgba(255, 0, 0, 0));
}

.zuma {
  right: 0px;
  background-image: url("assets/zuma.png"),
    radial-gradient(rgba(255, 230, 227, 1), rgba(255, 0, 0, 0));
  transform: scaleX(-1);
}

.quizOptionsContainer {
  width: 90%;
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
}

.quizOption {
  padding: 20px;
  margin: 10px;
  font-size: xx-large;
  font-weight: bolder;
  background-color: #ffffff;
  border-radius: 15px;
  color: #814499;
  text-align: center;
}

.correctOption {
  background-color: #93e1a1;
  color: #2ca941;
}

.incorrectOption {
  background-color: #e4a4cb;
  color: #a92c92;
}


@media screen and (max-width: 850px) {
  .flagContainer {
    width: 40%;
  }
}

@media screen and (max-width: 430px) {
  .flagLabel {
    font-size: medium;
  }
  .quizOption {
    padding: 10px;
    margin: 10px;
    font-size: x-large;
  }

  .buttonContainer {
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 300px) {
  .menuButton {
    padding: 10px;
    font-size: large;
  }
}
